*,*::before,*::after{
    box-sizing: border-box;
}
#body,html{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
#mainNav{
    box-shadow: none;
    background-color: transparent;
    transition: background-color 0.2s ease;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-expand{
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.navbar-expand > .container{
    flex-wrap: nowrap;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#mainNav .navbar-brand{
    color: darkred;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
}
.navbar-brand{
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3124rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
a{
    text-decoration: none;
    background-color: transparent;
}
.navbar-expand .navbar-collapse{
    display: flex !important;
    flex-basis: auto;
}
.navbar-collapse{
    flex-grow: 1;
    align-items: center;
}
.navbar-expand .navbar-nav{
    flex-direction: row;
}
.navbar-nav{
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    margin-left: auto !important;
    display: flex;
    padding-left: 0;
    list-style: none;
}
ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}
#mainNav .navbar-nav .nav-item .nav-link{
    color: darkred;
    padding: 0 1rem;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.2rem;
    font-weight: 700;
    display: block;
}
.page-section{
    padding: 8rem 0;
}
section{
    display: block;
}
.Introduce{
    margin-top: 5rem;
}
.container{
    margin-top: 0.1rem;
}
.text-center{
    text-align: center !important;
    margin-top: 0 !important;
}
h2, .h2{
    font-size: 2rem;
}
h2,h3, .h2,.h3{
    margin-bottom: 0.5rem;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    line-height: 1.2;
}
hr.divider{
    max-width:3.25rem;
    border-width: 0.2rem;
    border-color: #f4623a;
    margin-bottom: 1.5rem !important;
    margin-top: 1.5rem !important;
}
hr{
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    unicode-bidi: isolate;
}
.row{
    display:flex;
    flex-wrap:wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-lg-3{
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.mt-5{
    margin-top: 3rem !important;
}
.img1:hover{
    overflow: visible;
    display: inline-block;
    vertical-align: -.125em;
    transform: scale(1.1, 1.1);
    margin-bottom: 1em;
}
.keyword{
    margin-bottom: 0.5rem !important;
    margin-top: 0;
}
h4, .h4{
    font-size: 1.5rem;
}
.text-muted{
    color: #6c757d !important;
    margin-bottom: 0 !important;
}
p{
    margin-top: 0;
}
